/*顶部彩色条*/
.colorTopBar {
    animation: colorTopBar 1s infinite linear;
    height: 2px;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

@keyframes colorTopBar {
    0% {
        background: #000 linear-gradient(to left, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55, #4cd964);
    }

    20% {
        background: #000 linear-gradient(to left, #007aff, #34aadc, #5856d6, #ff2d55, #4cd964, #5ac8fa);
    }

    40% {
        background: #000 linear-gradient(to left, #34aadc, #5856d6, #ff2d55, #4cd964, #5ac8fa, #007aff);
    }

    60% {
        background: #000 linear-gradient(to left, #5856d6, #ff2d55, #4cd964, #5ac8fa, #007aff, #34aadc);
    }

    80% {
        background: #000 linear-gradient(to left, #ff2d55, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6);
    }

    100% {
        background: #000 linear-gradient(to left, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    }
}

/*
@media (max-width:767px) {
    .colorTopBar {
        display: none;
    }
}
*/